@media (max-width: 1280px) {
    .hid.h1{
        display: none;
    }
}
@media(max-width: 991.98px){
    .navigation ul li{
        margin: auto 10px;
    }
    .hid{
        display: none;
    }
    .slide-content{
        top: 280px;
    }
    .xem{
        top:290px;
        width: 75px;
        right: -20px;
    }
    .block-element{
        width: 30%;
       margin: 5px auto;
    }
    .block-element-spe{
        width: 45%;
        margin: 5px auto;
    }
}

@media (max-width: 630px){

    .user-action{
        position: absolute;
        right: 0px;
    }
    .logo{
        display: none;
    }
    .block-element{
        width: 45%;
       margin: 5px auto;
    }
    .block-element-spe{
        width: 45%;
        margin: 5px auto;
    }
    .menu_bar{
        display: block;
        top:20px;
		left: 26px;
		position: absolute;
	}
	.navigation{
		transform: translate(-500px,50px);
    }
    .navigation.open ul{
        overflow: visible;
    }
	.navigation.open ul li{
		width: 45%;
		padding-left: 10px;
		border: 1px solid rgb(23, 129, 194);
		background-color: rgba(0, 0, 0, 0.8);
    }
    .navigation.open ul li:hover{
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    }
	.navigation.open{
		display: block;
		transform: translate(0px, 50px);
		transition: transform 1s ease;
    }
    .slide-content{
        top:160px;
    }
    .ct-bn-1{
        font-size: 16px;
        margin: auto 10px;
    }
    .ct-bn-2{
        display: none;
    }
    .ct-bn-3{
        display: none;
    }
    .xem{
        top:160px;
        width: 75px;
        right: -20px;
    }
    .hid{
        display: block;
    }

    /**/


}