* {
    outline: none !important;
  }
  a{
    text-decoration: none;
    color: #9b9b9b;
}
  p,
  h2,
  h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
  }
  body {
    margin: 0;
    background: #111;
    color: #9b9b9b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
/*header */
.menu_bar{
    display: none;
}
  header{
    width:100%;
    display: flex;
    justify-content: space-between;
    background: black;
    
    height: 56px;
    position: fixed;
    z-index: 100;
}
.container{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 1300px;
	padding-left: 30px;
	padding-right: 30px;
}
.logo{
  margin: 10px 25px;
  
}
.logo >img{
  max-width: 130px;
}
.navigation{
    color: #9b9b9b;
    
}
.navigation ul{
  margin: 0px;
  height: 60px;
  overflow: hidden;
}
.navigation ul li{
    list-style: none;
    float: left;
    margin: auto 20px;
    height: 54px;
    align-content: center;
}
.navigation ul li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}
.navigation ul li:hover{
    cursor: pointer;
    border-bottom: 4px solid Rgb(23, 129, 194);
    
}
.navigation ul li:hover > a{
    color: Rgb(23, 129, 194);
}
.user-action{
    padding-top: 15px;
}
.user-action ul li{
    list-style: none;
    float: left;
    margin: auto 20px; 
}


/* footer */
footer{
    width: 100%;
    background: black;
    color:#9b9b9b;
    padding: 40px 0;
}
footer > .container{
    display: flex;
    justify-content: space-between;
}
.mid-footer{
    width: 55%;
}
.mid-footer p{
    line-height: 20px;
}
.right-footer{
    width:25%;
}
.menu{
    margin-bottom: 10px;
}
.menu1{
    display: inline-block;
    padding: 0px;
}
.menu2{
    display: inline-block;
    float: right;
}
.menu1 > li{
    list-style: none;
    float: left;
    margin-right: 14px;
    padding: 5px;
}
.menu1 li:hover{
    cursor: pointer;
    background: Rgb(23, 129, 194);
    border-radius: 6px;
    color: #ffffff;
}
.menu2 > li{
    list-style: none;
    float: left;
    margin: auto 10px;
}
.ct-ft{
    display: inline-block;
    padding: 5px 10px;
    margin: 4px 0px;
    background: Rgb(23, 129, 194);
    border-radius: 10px;
    color: #ffffff;
}
.mainBody{
  padding: 10px 0;
}
* {
  outline: none !important;
}
p,
h2,
h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
body {
  margin: 0;
  background: #111;
  color: #9b9b9b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.clearfix {
  clear: both;
}
#BTTbutton {
  display: inline-block;
  background-color: #007bff69;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#BTTbutton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#BTTbutton:hover {
  cursor: pointer;
  background-color: rgb(23, 129, 194);
}
#BTTbutton:active {
  background-color: #555;
}
#BTTbutton.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background: black;
  z-index: 1000;
}
.container {
  width: 78%;
  margin: auto;
}
.container .player {
  margin-top: 85px;
}
.container .playerFooter {
  margin-top: 1.15rem;
}
.container .playerFooter .episodes {
  margin-top: 0.75em;
  margin-left: -0.75%;
  margin-right: -0.75%;
}
.container .playerFooter li {
  float: left;
  width: 6.8333333333333333%;
  margin: 0.75%;
}
.container .playerFooter .episodes .btn {
  text-decoration: none;
  width: 100%;
  height: 40px;
  background: #2d2d2d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 20px;
}
.container .playerFooter .episodes .btn:hover {
  color: rgb(23, 129, 194);
}
.container .playerFooter .episodes .btn.active {
  color: rgb(23, 129, 194);
}
.container .filmInfo .filmname {
  font-size: 1.4rem;
  color: white;
}
.container .filmInfo {
  display: flex;
  margin-top: 2rem;
}
.container .filmInfo .filmDescribe {
  margin-left: 1.5rem;
  width: 50%;
}
.container .filmInfo .filmDescribe .extraButton {
  margin-top: 0.75rem;
}
.container .filmInfo .filmDescribe .extraButton li {
  float: left;
  width: 20%;
  margin-right: 10px;
}
.container .filmInfo .filmDescribe .extraButton .btn {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.container .filmInfo .filmDescribe .extraButton .btn.follow {
  background: linear-gradient(90deg, #252728 0, #3f4143);
}
.container .filmInfo .filmDescribe .extraButton .btn.facebook {
  background: #395b9a;
}
.container .filmInfo .filmDescribe .extraButton .btn.report {
  background: linear-gradient(90deg, #a0051c 0, #db3a4b);
}
.container .filmInfo .filmDescribe .describe {
  margin-top: 1rem;
  font-size: 15px;
}
.container .filmInfo .filmDetail {
  margin-left: 1.5rem;
  font-size: 15px;
}
.container .filmInfo .filmDetail table {
  border-collapse: collapse;
  text-align: left;
  display: table;
  width: 100%;
}
.container .filmInfo .filmDetail table th {
  color: white;
  width: 25%;
  vertical-align: top;
  padding-bottom: 10px;
}
.container .filmInfo .filmDetail table td {
  vertical-align: top;
}
.container .filmComment {
  margin-top: 2rem;
}
.container .filmComment .commentContent {
  padding: 1rem 2rem;
  background: black;
  width: 75%;
}
.container .filmComment .commentContent .commentHeader {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}
.container .filmComment .commentContent .commentHeader .sort {
  background: #252728;
  border: none;
  color: white;
  padding: 5px 10px;
  width: 175px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 15px;
}
.container .filmComment .commentContent .commentPost {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .filmComment .commentContent .commentPost .userImg {
  width: 6%;
}
.container .filmComment .commentContent .commentPost .userImg img {
  border-radius: 100%;
}
.container .filmComment .commentContent .commentPost .commentInput {
  height: 100%;
  width: 92%;
  border-radius: 50px;
  background: #252728;
  display: flex;
  padding: 5px 0;;
}
.filmComment .commentContent .commentPost .commentInput .commentGroup {
  width: 95%;
  margin: 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.filmComment .commentContent .commentPost .commentInput input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  color: #9b9b9b;
  font-size: 17px;
}
.filmComment .commentContent .commentPost .commentInput .btn {
  padding: 0;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  transition: 0.5s;
}
.filmComment .commentContent .commentPost .commentInput .btn:hover {
  color: rgb(23, 129, 194);
}
.filmComment .commentContent .commentList {
  margin-top: 2rem;
}
.filmComment .commentContent .commentList .comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.filmComment .commentContent .commentList .comment .userImg {
  width: 6%;
}
.filmComment .commentContent .commentList .comment .userImg img {
  border-radius: 100%;
}
.filmComment .commentContent .commentList .comment .commentText {
  width: 92%;
}
.commentList .comment .commentText .userName {
  display: flex;
  align-items: center;
}
.commentList .comment .commentText .userName h4 {
  color: white;
  margin-right: 10px;
}
.commentList .comment .commentText .content {
  font-size: 17px;
  margin: 0.5rem 0;
}
.commentList .comment .commentText .btn {
  background: transparent;
  color: #9b9b9b;
  border: none;
  font-size: 1rem;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}
.commentList .comment .commentText .fas {
  transition: 0.5s;
}
.commentList .comment .commentText .fas.fa-thumbs-up {
  font-size: 1.15rem;
}
.commentList .comment .commentText .fas:hover {
  color: rgb(23, 129, 194);
}
.filmComment .commentContent a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 14px;
  transition: 0.5s;
}
.filmComment .commentContent a:hover {
  color: rgb(23, 129, 194);
}
.sameKind,
.actor {
  margin-top: 2rem;
}
.sameKind h2,
.actor h2 {
  color: white;
  margin-bottom: 1rem;
}
.sameKind .list,
.actor .list {
  margin-left: -0.75%;
  margin-right: -0.75%;
}
.sameKind .list li,
.actor .list li {
  float: left;
  width: 15.1666666666667%;
  margin: 0 0.75%;
}
.sameKind .list li img {
  border-radius: 8px;
}
.sameKind .list li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 16px;
}
.sameKind .list li a:hover,
.actor .list li a:hover {
  color: rgb(23, 129, 194);
}
.actor .list li img {
  border-radius: 100%;
}
.actor .list li a {
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 16px;
}
footer {
  margin-top: 5rem;
}

@media only screen and (max-width: 920px) {
  .container {
    width: 90%;
  }
  .container .playerFooter .episodes {
    margin-left: -2.5%;
    margin-right: -2.5%;
  }
  .container .playerFooter li {
    width: 20%;
    margin: 2.5%;
  }
  .container .filmInfo {
    display: block;
    margin-top: 1rem;
  }
  .container .filmInfo .filmImg {
    display: none;
  }
  .container .filmInfo .filmDescribe {
    margin-left: 0;
    width: 100%;
  }
  .container .filmInfo .filmDescribe .extraButton li {
    float: left;
    width: 30%;
    margin-right: 10px;
  }
  .container .filmInfo .filmDetail {
    margin-top: 1.5rem;
    margin-left: 0rem;
    font-size: 15px;
  }
  .container .filmComment {
    width: 100%;
  }
  .container .filmComment .commentContent {
    width: auto;
    padding: 0.5rem;
  }
  .container .filmComment .commentContent .commentHeader label {
    display: none;
  }
  .container .filmComment .commentContent .commentHeader .sort {
    width: auto;
    margin-left: 0;
  }
  .filmComment .commentContent .commentPost .commentInput .btn {
    font-size: 1rem;
  }
  .container .filmComment .commentContent .commentPost .commentInput {
    padding: 0;
  }
  .sameKind .list,
  .actor .list {
    margin-left: -2.5%;
    margin-right: -2.5%;
  }
  .sameKind .list li,
  .actor .list li {
    float: left;
    width: 28.33333333333%;
    margin: 2.5%;
  }
}
